/* LOGIN */
.pagina-login{
  -ms-flex-align: center;
  align-items: center;
  background: #ff0000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
}
.login{
  width: 360px;
}
@media (max-width: 576px) {
  .login{
    margin-top: 20px;
    width: 90%;
  }
}
.login-titulo{
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}
.login-logo{
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: .9rem;
  text-align: center;
}
.login-logo a{
  color: #495057;
